body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#728bc9, #ffffff);
  /* opacity: 0.5; */
  border-width: 1px;
  border-radius: 5px;
  width: 25%;
  height: 50%;
  box-shadow: 5px 5px 5px grey;
  padding: 1%;
}

.statsBox {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
}

.stats {
  display: flex;
  align-content: space-between;
  border-left: 2px solid red;
  /* border-radius: 5px; */
  padding: 5px;
}

.leaderBoardTabs {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(#728bc9, #ffffff);
  /* opacity: 0.5; */
  border: 5px solid black;
  border-width: 1px;
  border-radius: 5px;
  padding: 1%;
}

.lbUserTabs {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#ffffff, #728bc9);
  /* opacity: 0.5; */
  border-width: 1px;
  border-radius: 5px;
  width: 40%;
  box-shadow: 5px 5px 5px grey;
  padding: 1%;
}
