/* @import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

* {
  font-family: 'Press Start 2P';
} */

/* @font-face {
  font-family: SAO, Sans-serif;
  src: url("./SAOWelcome-Regular.otf") format("opentype");
}

body{
  font-family:SAO;
  color: white;
  background-color: #212121;
} */

body {
  font-family: sans-serif;
  color: white;
  background-color: #212121;
}

*:visited {
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navBar:hover {
  background-color: blue;
}

.homePage {
  display: flex;
  justify-content: space-around;
  border-width: 1px;
  border-radius: 5px;
  padding: 1%;
  width: 80%;
  margin: auto;
}

#cardFont {
  font-size: 12px;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background: linear-gradient(#424242, #ffffff); */
  background-color: rgba(103, 103, 103, 0.5);
  border: 5px solid white;
  /* border-width: 1px; */
  border-radius: 5px;
  width: 25%;
  padding: 1%;
  margin: auto;
  /* border: 1px solid red; */
}

/* .profileCard:hover {
  border-left: 5px; 
} */

.profileCardInfo {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  background-color: rgba(103, 103, 103, 0.5);
  border-width: 1px;
  border-radius: 5px;
  width: 65%;
  padding: 1%;
  /* border: 1px solid red; */
}

#topCardContainer {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  /* background-color: rgba(103, 103, 103, 0.5); */
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  padding: 1%;
  /* border: 1px solid red; */
}

#lvlIcon {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent; /* left arrow slant */
  border-top: 25px solid transparent; /* right arrow slant */
  border-left: 25px solid #fc4c02; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}

#name {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  /* background-color: rgba(103, 103, 103, 0.5); */
  border-width: 1px;
  /* border-radius: 5px; */
  /* border-top: 3px solid #fc4c02;
  border-bottom: 3px solid #fc4c02; */
  width: 65%;
  padding: 1%;
  margin: auto;
  /* border: 1px solid red; */
}

.statsInfoBox {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  background-color: rgba(103, 103, 103, 0.8);
  border-width: 1px;
  border-radius: 3px;
  width: 75%;
  padding: 1%;
  margin: auto;
  /* border: 1px solid red; */
}

.stats {
  display: flex;
  align-content: space-between;
  align-self: center;
  padding: 5px;
  width: 95%;
  color: black;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  /* border: 1px solid red; */
}

.eachCardStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  padding: 3%;
  /* border: 1px solid red; */
}

/* LEADER BOARD CSS */

.leaderBoardTabs {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(103, 103, 103, 0.5);
  /* opacity: 0.5; */
  border: 5px;
  border-width: 1px;
  border-radius: 5px;
  padding: 1%;
  width: 50%;
  margin: auto;
}

.leaderBoardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(103, 103, 103, 0.5);
  /* opacity: 0.5; */
  border-width: 1px;
  border-radius: 5px;
  padding: 1%;
  width: 50%;
  margin: auto;
}

.lbUserTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(#ffffff, #728bc9); */
  background-color: rgba(103, 103, 103, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  padding: 1%;
}

.lbUserTabs:hover {
  border-left: 5px solid #fc4c02;
  box-shadow: 2px 2px 2px grey;
}

.lbUserTabsImage {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
  /* border: 1px solid red; */
}

.lbUserTabsName {
  display: flex;
  width: 20%;
  margin: auto;
  padding: 2%;
  /* border: 1px solid red; */
}

.rankingNum {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 10%;
  /* border: 1px solid red; */
}

.lbUserInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
  width: 40%;
  border-width: 1px;
  border-radius: 5px;
  min-width: 100px;
  padding: 2%;
  margin: auto;
  /* border: 1px solid red; */
}

.lbUserInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2%;
  margin: auto;
  /* border: 1px solid red; */
}

.challengeButton {
  border: none;
  padding: 10px 30px;
  text-align: center;
  width: 200px;
  border-left: 5px solid #fc4c02;
  border-right: 5px solid #fc4c02;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  /* margin: auto; */
}

.challengeButton:hover {
  background-color: #fc4c02;
  color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

/* BATTLE ROOM CSS */

#battleRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.ytimg.com/vi/ucjk7FByCq8/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 60%;
  height: 800px;
  margin: auto;
  border: 5px solid white;
  border-radius: 5px;
  /* border: 1px solid red; */
}

/* #arenaImage {
  border: 5px solid white;
  border-radius: 5px;
  height: 150%;
  position: relative;
} */

/* #arenaAvatar {
  position: absolute;
  top: 680px;
  left: 1000px;
} */

/* #imageSprite {
  height: 256px;
  width: 256px;
  background: url('https://cdn.codeandweb.com/blog/2016/05/10/how-to-create-a-sprite-sheet/spritestrip.png')
    0px 0px;
  position: absolute;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
  top: 565px;
  left: 1275px;
  -webkit-animation: idle 1s steps(6) infinite;
  animation: idle 1s steps(6) infinite;
}

@-webkit-keyframes idle {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1536px;
  }
}

@keyframes idle {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1536px;
  }
} */

#container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 5%;
  border: 1px solid red;
}

#battleInfoStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  padding: 2%;
  margin: auto;
  border: 1px solid red;
}

#battleInfoStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  border: 1px solid red;
}

#yourBattleStatsBox {
  display: flex;
  /* flex-direction: column; */
  /* align-content: space-between; */
  /* justify-content: space-evenly; */
  background-color: rgba(103, 103, 103, 0.9);
  border: 5px solid white;
  border-radius: 5px;
  width: 45%;
  padding: 2%;
  margin: auto;
  /* border: 1px solid red; */
}

.battleStatsImage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 25%;
  margin: auto;
}

.battleStatsNameAndLvl {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-self: bottom;
  margin: auto;
}

.battleStatsEnergy {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

.battleStatsSpeed {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

/* OPPONENT BATTLE STATS */

#opponentStatsBox {
  display: flex;
  /* flex-direction: column; */
  /* align-content: space-between; */
  /* justify-content: space-evenly; */
  background-color: rgba(103, 103, 103, 0.9);
  border: 5px solid white;
  border-radius: 5px;
  width: 45%;
  padding: 2%;
  margin: auto;
  /* border: 1px solid red; */
}

#battleMenu {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  /* justify-content: space-evenly; */
  background-color: rgba(103, 103, 103, 0.9);
  border: 5px solid white;
  /* border-width: 1px; */
  width: 25%;
  border-radius: 5px;
  min-width: 200px;
  padding: 2%;
  margin: auto;
  /* border: 1px solid red; */
}

#battleMenu:hover {
  border: 5px solid #fc4c02;
  color: #fc4c02;
}

.battleButtonSet {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-radius: 5px;
  padding: 2%;
  margin: auto;
}

.battleButton {
  border: none;
  padding: 15px 32px;
  text-align: center;
  width: 200px;
  border-left: 5px solid #fc4c02;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.battleButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
  border: 0px;
}
